@charset "utf-8";

/* 全体 */
.container {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #e8d9bf;
}
img {
    max-width: 100%;
}
.inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 4%;
}
.title {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.title-img {
    width: auto;
    height: 77px;
}

/* header */

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 7.386%;
    /* 幅147 / 全体1990 = 0.7386 */
    padding-left:  2.512%;
    position: absolute;
    width: 100%;
}
.header__nav ul {
    display: flex;
    gap: 77px;
}
.header__nav ul li {
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
}
.logo {
    width: 227px;
}

/* company-hope */

.company-hope {
    padding: 10%;
    text-align: center;
}
.hope-top {
    font-size: 30px;
    margin-bottom: 20px;
}
.hope-title {
    font-size: 82px;
    line-height: 1.17;
    margin-bottom: 15px;
}
.hope-bottom {
    font-size: 23px;
    line-height: 1.65;
}

/* ABOUT US */

#aboutus {
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 105px;
}
#aboutus .text {
    width: 45%;
    padding: 0 0 0 6%;
}
.aboutus-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-img_pc {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 0 0 20%;
    margin-right: 20px;
}
.content-img_sp {
    display: none;
}
.contentimg-adjust {
    width: 50%;
}
.aboutus-maintext {
    font-size: 43px;
    line-height: 1.17;
    font-feature-settings: "palt";
    margin-top: 55px;
    margin-bottom: 36px;
}
.aboutus-subtext {
    font-size: 16px;
    line-height: 1.625;
    font-feature-settings: "palt";
    margin-bottom: 30px;
}
.title-img_sp {
    display: none;
}

/* MENU */

#menu ul {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    margin-bottom: 97px;
}
#menu li {
    width: 32%;
}
.menu-img {
    border-radius: 0 15% 0 0;
}
.menu-name {
    font-size: 38px;
    color: #d30202;
    position: relative;
    bottom: 20px;
    padding: 0 10px;
}
.menu-text {
    font-size: 17px;
    line-height: 1.47;
    font-feature-settings: "palt";
}

/* GALLERY */

#gallery ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 70px;
}

/* EVENT */

#event ul {
    font-size: 23px;
    width: 100%;
    border: solid 4px;
    background-color: #fff;
    padding: 37px 0;
}
#event li {
    padding: 1% 13%;
    margin: 0 auto;
    display: flex;
    text-align: center;
}
#event .date {
    padding-right: 20px;
}
.event-content a{
    text-decoration: underline;
    }

/* ACCESS */

#access img {
    width: 100%;
    margin-top: 80px;
}
.map{
    filter: grayscale(100%) invert(92%) contrast(83%);
    margin-top: 20px;
}

/* FOOTER */

#footer .inner {
    display: flex;
    justify-content: center;
    margin: 83px;
}
#footer .logo {
    padding: 10px;
}
.info {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 65px;
}
.info p {
    font-size: 20px;
    line-height: 1.95;
    font-feature-settings: "palt";
    display: block;
}
#footer .copyright {
    text-align: center;
    margin: 30px;
    margin-bottom: 77px;
}

/* トップへ戻る */

.totop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 125px;
}

/* スマホ版 */

@media screen and (max-width:767px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }
    .title {
        margin: 0 auto;
    }

    /* SP company-hope */

    .company-hope {
        padding: 2%;
    }

    /* SP about us */

    .title-img_pc {
        display: none;           /*PC版のタイトルを消す*/
    }
    .title-img_sp{
        display: block;          /*SP版のタイトルを表示*/
        margin-bottom: 20px;
    }
    .aboutus-content {
        flex-direction: column;  /* 縦並び */
    }
    #aboutus .text {
        width: 100%;             /* 幅いっぱい */
        padding: 0;              /* PC版の幅を消す */
    }
    .content-img_pc {
        display: none;           /* PC版の画像表示しない */
    }
    .content-img_sp {
        width: 100%;
        display: block;          /* SP版画像を表示する */
    }
    .contentimg-adjust {         /* coffee画像を幅いっぱい */
        width: 100%;
    }

    /* SP menu */

    #menu {
        display: block;
    }
    #menu ul {
        flex-direction: column;
    }
    #menu li {
        width: 100%;
    }
    .menu-img {
        width: 100%;
    }
    .menu-text {
        margin-bottom: 58px;
    }

    /* SP event */

    #event ul {
        width: 100%;
        margin: 20px auto;
        padding: 10px;
    }
    #event li {
        display: block;
        text-align: left;
        padding: 20px;
    }

    /* SP footer */

    #footer .inner {
    width: 100%;
    display: block;
    margin: 0;
    }
    #footer .logo {
    padding: 10px 0;
    }
    .info {
    font-size: 13px;
    line-height: 1.72;
    margin: 0;
    }
    .totop {
    top: 600px;
    width: 100px;
    }
}
.header__nav-sp {
    display: none;
}
.hamburger {
    display: none;
}

/* ハンバーガーメニュー */
@media screen and (max-width:1000px) {
    .header__nav {
        display: none;
    }
    .hamburger {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        z-index: 9999;
    }
    .hamburger span {
        width: 30px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 15px;
        transition: .3s;
    }
    /* 擬似要素 (::before,::after) */
    .hamburger span::before {
        /* 45度回転させる */
        width: 30px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        content: "";
        top: -12px;
        transition: .3s;
    }
    .hamburger span::after {
        width: 30px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        content: "";
        bottom: -12px;
    }
    .open span {
        background-color: transparent;
    }
    .open span::before {
        transform:  rotate(45deg);
        top: 0;
    }
    .open span::after {
        transform: rotate(-45deg);
        bottom: 0;
    }
    .header__nav-sp {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #000000b3;
    }
    .header__nav-sp ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .header__nav-sp li {
        color: #fff;
        font-family:"游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
        font-weight: bold;
    }
}

/* フォント調整 */
@media screen and (max-width:1100px) {
    .hope-top {
        font-size: 20px;
        margin: 20px 0;
    }
    .hope-title {
        font-size: 60px;
    }
    .hope-bottom {
        font-size: 16px;
        line-height: 1.875;
        margin-bottom: 69px;
    }
    .aboutus-maintext {
        font-size: 36px;
    }
}