@charset "utf-8";

/* 全体 */
.container {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #e8d9bf;
}
img {
    max-width: 100%;
}
.inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 4%;
}
.title {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.title-img {
    width: auto;
    height: 77px;
}

/* header */

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 7.386%;
    /* 幅147 / 全体1990 = 0.7386 */
    padding-left:  2.512%;
    position: absolute;
    width: 100%;
    z-index: 2;     /* 前面に出す */
}
.header__nav ul {
    display: flex;
    gap: 77px;
}
.header__nav ul li {
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
}
.logo {
    width: 227px;
}
.header__nav-sp {
    z-index: none;
}

/* company-hope */

.company-hope {
    padding: 10%;
    text-align: center;
}
.hope-top {
    font-size: 30px;
    margin-bottom: 20px;
}
.hope-title {
    font-size: 82px;
    line-height: 1.17;
    margin-bottom: 15px;
}
.hope-bottom {
    font-size: 23px;
    line-height: 1.65;
}

/* ABOUT US */

#aboutus {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 105px;
}
#aboutus .text {
    width: 45%;
}
.aboutus-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-img_pc {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 0 0 20%;
    margin-right: 20px;
}
.content-img_sp {
    display: none;
}
.contentimg-adjust {
    width: 50%;
}
.aboutus-maintext {
    font-size: 43px;
    line-height: 1.17;
    font-feature-settings: "palt";
    margin-top: 55px;
    margin-bottom: 36px;
}
.aboutus-subtext {
    font-size: 16px;
    line-height: 1.625;
    font-feature-settings: "palt";
    margin-bottom: 30px;
}
.title-img_sp {
    display: none;
}

/* MENU */

#menu ul {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    margin-bottom: 97px;
}
#menu li {
    width: 32%;
}
.menu-img {
    border-radius: 0 15% 0 0;
}
.menu-name {
    font-size: 38px;
    color: #d30202;
    position: relative;
    bottom: 20px;
    padding: 0 10px;
}
.menu-text {
    font-size: 17px;
    line-height: 1.47;
    font-feature-settings: "palt";
}

/* GALLERY */

#gallery ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 70px;
}

/* EVENT */

#event ul {
    font-size: 23px;
    width: 100%;
    border: solid 4px;
    background-color: #fff;
    padding: 37px 0;
}
#event li {
    padding: 1% 13%;
    margin: 0 auto;
    display: flex;
    text-align: center;
}
#event .date {
    padding-right: 20px;
}
.event-content a{
    text-decoration: underline;
    }

/* ACCESS */

#access img {
    width: 100%;
    margin-top: 80px;
}
.map{
    filter: grayscale(100%) invert(92%) contrast(83%);
    margin-top: 20px;
}

/* FOOTER */

#footer .inner {
    display: flex;
    justify-content: center;
    margin: 83px;
}
#footer .logo {
    padding: 10px;
}
.info {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 65px;
}
.info p {
    font-size: 20px;
    line-height: 1.95;
    font-feature-settings: "palt";
    display: block;
}
#footer .copyright {
    text-align: center;
    margin: 30px;
    margin-bottom: 77px;
}

/* トップへ戻る */

.totop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 125px;
}

/* スマホ版 */

@media screen and (max-width:767px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }
    .title {
        margin: 0 auto;
    }

    /* SP company-hope */

    .company-hope {
        padding: 2%;
    }

    /* SP header */

    .header__nav-sp {
        z-index: 9998;
    }
    /* SP about us */

    .title-img_pc {
        display: none;           /*PC版のタイトルを消す*/
    }
    .title-img_sp{
        display: block;          /*SP版のタイトルを表示*/
        margin-bottom: 20px;
    }
    .aboutus-content {
        flex-direction: column;  /* 縦並び */
    }
    #aboutus .text {
        width: 100%;             /* 幅いっぱい */
        padding: 0 4%;              /* PC版の幅を消す */
    }
    .content-img_pc {
        display: none;           /* PC版の画像表示しない */
    }
    .content-img_sp {
        width: 100%;
        display: block;          /* SP版画像を表示する */
    }
    .contentimg-adjust {         /* coffee画像を幅いっぱい */
        width: 100%;
    }
    #aboutus {
        padding: 0;
    }
    #aboutus .inner {
        padding: 0;
    }

    /* SP menu */

    #menu {
        display: block;
    }
    #menu ul {
        flex-direction: column;
    }
    #menu li {
        width: 100%;
    }
    .menu-img {
        width: 100%;
    }
    .menu-text {
        margin-bottom: 58px;
    }

    /* SP event */

    #event ul {
        width: 100%;
        margin: 20px auto;
        padding: 10px;
    }
    #event li {
        display: block;
        text-align: left;
        padding: 20px;
        font-size: 16px;
    }
    .event-content li p {
        white-space: nowrap;        /* 改行しない */
        overflow: hidden;           /* ↑に対してのはみ出し防止 */
        text-overflow: ellipsis;    /* ３点リーダー[・・・]の表示 */
    }

    /* SP footer */

    #footer .inner {
    width: 100%;
    display: block;
    margin: 0;
    }
    #footer .logo {
    padding: 10px 0;
    }
    .info {
    font-size: 13px;
    line-height: 1.72;
    margin: 0;
    }
    .totop {
    top: 600px;
    width: 100px;
    }
}
.header__nav-sp {
    display: none;        /* pc版の時はsp版のnuvは消す JQueryで動きをつけていく*/
}
.hamburger {
    display: none;       /* pc版の時はハンバーガーメニューを消す*/
}

/* ハンバーガーメニュー */
@media screen and (max-width:1000px) {
    .header__nav {
        display: none;        /* pc版のnavを消す */
    }
    /* ハンバーガーの枠組み */
    .hamburger {
        display: block;       /* ハンバーガーメニューを表示する */
        width: 30px;          /* 3本線の枠 */
        height: 30px;         /* 3本線の枠 */
        position: absolute;   /* 浮かせる */
        right: 10px;          /* 左にいたものを右に移動 */
        top: 10px;
        cursor: pointer;
        z-index: 9999;        /* 要素の重なり順を調整 最前面にハンバーガーメニューを出す ※ position系が付いてる時にしか適用しない [最前面→9999][最背面→ -1] */
    }
    /* ハンバーガーの3本線 */
    .hamburger span {
        width: 30px;         /* widthとheightですごい細長い長方形を作って線に見立ててる状態 */
        height: 2px;
        background-color: #fff;
        position: absolute;     /* ハンバーガーの枠組みの上に浮かせる */
        top: 15px;              /* 枠組みが30pxなので真ん中に線をつけたいから半分の15px */
        transition: .3s;        /* 0.3秒かけてxの状態に動く */
    }
    /* 擬似要素 (::before,::after) HTMLではないけどCSSで擬似的に要素を作る。装飾系で使用。２個まで */
    .hamburger span::before {    /* 上の線  装飾が前に来るのは[before] */
        /* 45度回転させる */
        width: 30px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        content: "";          /* 本来ない要素を擬似要素で作ってるからcontent:"";を入れて要素と認識させる before,afterが入る時はcontentはセット */
        top: -12px;           /* 真ん中の線から12px分上に上げる */
        transition: .3s;      /* 0.3秒かけてxの状態に動く */
    }
    .hamburger span::after {    /* 下の線 装飾が後ろに来るのは[after]*/
        width: 30px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        content: "";
        bottom: -12px;              /* 真ん中の線から12px分下に下げる */
        transition: .3s;           /* 0.3秒かけてxの状態に動く */
    }
    /* ハンバーガーメニューが開いた時 */
    .open span {
        background-color: transparent;  /* JQueryのToggleclassでつけたopenに対してtransparentで透明にする。このspanは基本の真ん中の線 */
    }
    .open span::before {
        transform:  rotate(45deg);    /* rotate→回転 deg→度数 45度、線を回転させる */
        top: 0;                       /* 3本線でつけた位置を0にする 交点を作る */
    }
    .open span::after {
        transform: rotate(-45deg);    /* -45度、線を回転させる */
        bottom: 0;                    /* 3本線でつけた位置を0にする 交点を作る */
    }
    .header__nav-sp {
        position: absolute;
        width: 100%;                  /* 黒い覆いを幅いっぱいに表示 */
        height: 100vh;                /*「vew hight」どんな画面サイズであっても画面いっぱいに表示 */
        background-color: #000000b3;     /* 半透明入りの黒のカラーコード */
    }
    .header__nav-sp ul {
        height: 100%;                /* 画面いっぱいに表示*/
        display: flex;
        flex-direction: column;      /* 縦並び */
        align-items: center;         /* 真ん中配置 */
        justify-content: center;     /* 画面中央配置 */
        gap: 10px;                   /* 文字間調整 */
    }
    .header__nav-sp li {      /* 文字の調整 */
        color: #fff;
        font-family:"游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
        font-weight: bold;
    }
}

/* フォント調整 */
@media screen and (max-width:1100px) {
    .hope-top {
        font-size: 20px;
        margin: 20px 0;
    }
    .hope-title {
        font-size: 60px;
    }
    .hope-bottom {
        font-size: 16px;
        line-height: 1.875;
        margin-bottom: 69px;
    }
    .aboutus-maintext {
        font-size: 36px;
    }
}
/* スライダー部分の調整 デベロッパーツールから余分なところを調整していく */
.slick-dots {
    bottom: 0;      /* 下に出ていたのを消す*/
}
.slick-dots li button:before {
    color: #fff;    /* 標準で入ってた黒色を白に変更 */
}
.slick-dots li.slick-active button:before {
    color: #fff;   /* 標準で入ってた黒色を白に変更 */
}
.slick-dotted.slick-slider {
    margin-bottom: 0;   /* 謎のmargin-bottomの削除 */
}
.lb-caption {
    color: #fff;
}